/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Container */
.container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Heading */
h1 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Verification Details */
.verification-details p {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
}

.verification-details strong {
    font-weight: bold;
    color: #fff;
}
